body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.MuiToolbar-regular {
    background: linear-gradient(to bottom, #8276f4 50%, #af8eff 100%);
}

h6.MuiTypography-root.makeStyles-title-3.MuiTypography-h6 {
    color: #81E8F0;
}